%pages {
    @apply h-[59rem]
            md:w-full
            lg:w-[60rem]
            xl:w-[80rem]
            2xl:w-[90rem]
            m-auto
            bg-theme
            fg-theme
            relative;
    font-family: "Fira Code", monospace;
    // font-family: 'Roboto', sans-serif;
}

.title-page {
    @apply h-10 flex items-center gap-5 absolute left-0 top-10;

    span {
        @apply w-[5.5rem] h-[.7rem] zbg-theme inline-block;
    }
    h1 {
        font-size: 1.7rem;
    }
}
