%contact {
    @apply w-full h-full flex flex-col-reverse sm:flex-row justify-center items-center gap-10;

    .links {
        @apply flex flex-row sm:flex-col gap-3;
        a {
            @apply w-[3rem] h-[3rem] inline-block relative
            flex justify-center items-center;
            @media (width >= 1024px) {
                &:hover {
                    img {
                        @apply -translate-x-16;
                        transition: all 0.3s;
                    }
                    span {
                        @apply translate-x-0;
                        opacity: 1;
                        transition: all 0.5s;
                    }
                }
            }
            img {
                transition: all 0.3s;
                @apply w-full h-full absolute;
            }
            span {
                @apply -translate-x-5;
                opacity: 0;
                transition: all 0.3s;
            }
        }
    }
    .form {
        @apply w-[90%] sm:w-[24rem] gap-10 flex flex-col justify-start items-start relative;
         font-family: 'Roboto Condensed', sans-serif;

        span {
            @apply pr-2;
        }
        label {
            @apply absolute left-9;
            transition: all 0.4s;
        }

        input,
        textarea {
            &:focus ~ label, &:valid ~ label {
                    transition: all 0.2s;
                    @apply -translate-y-7;
            }
        }
        .name {
            @apply w-full h-[2.4rem] border-b-2 border-solid flex flex-row justify-center items-center;

            input {
                @apply w-full h-full bg-[#00000000] outline-none pl-2 z-10;
            }
        }
        .message {
            @apply w-full h-[50%] border-b-2 border-solid flex flex-row justify-center items-start;

            textarea {
                @apply w-full h-full resize-none bg-[#00000000] outline-none pl-2 z-10;
            }
        }
        .send {
            button {
                @apply flex text-light-blue dark:text-dark-blue justify-center items-center gap-2 h-6;

                img {
                    @apply h-full;
                }
            }
        }
    }
}
