%home {
    @apply w-full h-full;
    @apply w-full flex flex-col-reverse lg:flex-row justify-center items-center gap-11 p-10;
    height: calc(100% - 6rem);

    .two-div {
        @apply w-full h-full flex justify-center items-center;
    }

    .content {
        @apply flex flex-row justify-start items-center gap-5 w-[90%] h-[9rem];
        .l {
            @apply w-2 h-full;
        }
        p {
            @apply text-[1.5rem];
        }
    }

    .img {
        @apply w-[40%] h-[100%];
        .myimg {
            @apply flex justify-center items-center relative;
            ul {
                --t: 15s;
                @apply w-[15rem] h-[15rem] sm:w-[40rem] sm:h-[40rem] absolute;
                animation: lala infinite var(--t) linear;
                // animation-play-state: paused;

                &:hover {
                    li {
                        div {
                            opacity: 1;
                            transition: all 1s;
                        }
                    }
                }

                @keyframes lala {
                    0% {
                        transform: rotate(0);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }

                li {
                    @apply w-10 h-10 sm:w-[5rem] sm:h-[5rem] absolute flex justify-center items-center;

                    div {
                        transition: all 0.5s;
                        opacity: 0;
                        @apply w-full h-full absolute flex justify-center items-center zfg-theme rounded-full text-[2.5rem];
                        animation: lolo infinite var(--t) linear;
                        // animation-play-state: paused;

                        @keyframes lolo {
                            0% {
                                transform: rotate(0);
                            }
                            100% {
                                transform: rotate(-360deg);
                            }
                        }

                        img {
                            stroke-width: 30;
                            stroke: #491ec4;
                        }
                    }

                    --sm-x: 2.5rem;
                    --x: 5rem;
                    &:nth-child(1) {
                        @apply top-[var(--sm-x)] sm:top-[var(--x)]  left-[var(--sm-x)] sm:left-[var(--x)];
                    }

                    &:nth-child(2) {
                        @apply top-0 left-1/2 -translate-x-[50%];
                    }

                    &:nth-child(3) {
                        @apply top-[var(--sm-x)] sm:top-[var(--x)]  right-[var(--sm-x)] sm:right-[var(--x)];
                    }

                    &:nth-child(4) {
                        @apply top-1/2 left-0 -translate-y-[50%];
                    }

                    &:nth-child(5) {
                        @apply top-1/2 right-0 -translate-y-[50%];
                    }

                    &:nth-child(6) {
                        @apply bottom-[var(--sm-x)] sm:bottom-[var(--x)]  left-[var(--sm-x)] sm:left-[var(--x)];
                    }

                    &:nth-child(7) {
                        @apply bottom-0 left-1/2 -translate-x-[50%];
                    }

                    &:nth-child(8) {
                        @apply bottom-[var(--sm-x)] sm:bottom-[var(--x)]  right-[var(--sm-x)] sm:right-[var(--x)];
                    }
                }
            }
        }
    }
}
