@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Roboto:ital,wght@1,300&display=swap");
@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);
.bg-theme {
  @apply bg-light-bg  dark:bg-dark-bg;
}

.zbg-theme {
  @apply bg-light-fg  dark:bg-dark-fg;
}

.fg-theme {
  @apply text-light-fg dark:text-dark-fg;
}

.zfg-theme {
  @apply text-light-bg dark:text-dark-bg;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-theme;
  font-family: "Fira Code", monospace;
}

html {
  scroll-behavior: smooth;
  transition: all 0.5s;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-light-green;
  border-radius: 10px;
}

/* Handle on hover */
.navbar {
  @apply w-full h-full absolute sm:relative sm:h-24 hidden lg:flex flex-col sm:flex-row text-[2rem] items-center justify-start gap-16;
}
.navbar .item {
  text-transform: capitalize;
}
.navbar .theme {
  @apply w-[60%] h-full relative;
}
.navbar .theme .none {
  display: none !important;
}
.navbar .theme .theme-btn {
  @apply w-24 h-24 flex justify-center items-center right-0 p-6 absolute border-none outline-none;
}

.header {
  @apply block lg:hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.5s;
  z-index: 10;
}
.header .top-bar {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .top-bar .theme {
  @apply w-[50px] h-[50px] flex justify-center items-center relative;
}
.header .top-bar .theme .none {
  display: none !important;
}
.header .top-bar .theme .theme-btn {
  @apply flex justify-center items-center  border-none outline-none;
}
.header .top-bar .burger-container {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 20;
  -webkit-tap-highlight-color: transparent;
}
.header .top-bar .burger-container .burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}
.header .top-bar .burger-container .burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #fff;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
}
.header .top-bar .burger-container .burger .bar.topBar {
  transform: translateY(0px) rotate(0deg);
}
.header .top-bar .burger-container .burger .bar.btmBar {
  transform: translateY(6px) rotate(0deg);
}
.header ul.menu {
  position: relative;
  display: none;
  padding: 0px 48px 0;
  list-style: none;
  transform: translateX(-100%);
}
.header ul.menu li.menu-item {
  @apply border-b-[1px] border-solid border-[#fff];
  margin-top: 5px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.header ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.49s;
}
.header ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.42s;
}
.header ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.35s;
}
.header ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.28s;
}
.header ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.21s;
}
.header ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.14s;
}
.header ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.07s;
}
.header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #fff;
  font-family: "Ek Mukta", sans-serif;
  font-weight: 100;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
  transition: all 0.2s;
}
.header ul.menu li.menu-item a:hover {
  padding-left: 20px;
  transition: all 0.3s;
}
.header.menu-opened {
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
}
.header.menu-opened .top-bar .burger-container {
  transform: rotate(90deg);
}
.header.menu-opened .top-bar .burger-container .burger .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
}
.header.menu-opened .top-bar .burger-container .burger .bar.topBar {
  transform: translateY(4px) rotate(45deg);
}
.header.menu-opened .top-bar .burger-container .burger .bar.btmBar {
  transform: translateY(3px) rotate(-45deg);
}
.header.menu-opened ul.menu {
  display: block;
  transform: translateX(0);
  transition: all 3s;
}
.header.menu-opened ul.menu li.menu-item {
  transform: scale(1) translateY(0px);
  opacity: 1;
}
.header.menu-opened ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.27s;
}
.header.menu-opened ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.34s;
}
.header.menu-opened ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.41s;
}
.header.menu-opened ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.48s;
}
.header.menu-opened ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.55s;
}
.header.menu-opened ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.62s;
}
.header.menu-opened ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.69s;
}

.pages {
  @apply h-[59rem]
            md:w-full
            lg:w-[60rem]
            xl:w-[80rem]
            2xl:w-[90rem]
            m-auto
            bg-theme
            fg-theme
            relative;
  font-family: "Fira Code", monospace;
}

.title-page {
  @apply h-10 flex items-center gap-5 absolute left-0 top-10;
}
.title-page span {
  @apply w-[5.5rem] h-[.7rem] zbg-theme inline-block;
}
.title-page h1 {
  font-size: 1.7rem;
}

.home {
  @apply w-full h-full;
  @apply w-full flex flex-col-reverse lg:flex-row justify-center items-center gap-11 p-10;
  height: calc(100% - 6rem);
}
.home .two-div {
  @apply w-full h-full flex justify-center items-center;
}
.home .content {
  @apply flex flex-row justify-start items-center gap-5 w-[90%] h-[9rem];
}
.home .content .l {
  @apply w-2 h-full;
}
.home .content p {
  @apply text-[1.5rem];
}
.home .img {
  @apply w-[40%] h-[100%];
}
.home .img .myimg {
  @apply flex justify-center items-center relative;
}
.home .img .myimg ul {
  --t: 15s;
  @apply w-[15rem] h-[15rem] sm:w-[40rem] sm:h-[40rem] absolute;
  animation: lala infinite var(--t) linear;
}
.home .img .myimg ul:hover li div {
  opacity: 1;
  transition: all 1s;
}
@keyframes lala {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home .img .myimg ul li {
  @apply w-10 h-10 sm:w-[5rem] sm:h-[5rem] absolute flex justify-center items-center;
  --sm-x: 2.5rem;
  --x: 5rem;
}
.home .img .myimg ul li div {
  transition: all 0.5s;
  opacity: 0;
  @apply w-full h-full absolute flex justify-center items-center zfg-theme rounded-full text-[2.5rem];
  animation: lolo infinite var(--t) linear;
}
@keyframes lolo {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.home .img .myimg ul li div img {
  stroke-width: 30;
  stroke: #491ec4;
}
.home .img .myimg ul li:nth-child(1) {
  @apply top-[var(--sm-x)] sm:top-[var(--x)]  left-[var(--sm-x)] sm:left-[var(--x)];
}
.home .img .myimg ul li:nth-child(2) {
  @apply top-0 left-1/2 -translate-x-[50%];
}
.home .img .myimg ul li:nth-child(3) {
  @apply top-[var(--sm-x)] sm:top-[var(--x)]  right-[var(--sm-x)] sm:right-[var(--x)];
}
.home .img .myimg ul li:nth-child(4) {
  @apply top-1/2 left-0 -translate-y-[50%];
}
.home .img .myimg ul li:nth-child(5) {
  @apply top-1/2 right-0 -translate-y-[50%];
}
.home .img .myimg ul li:nth-child(6) {
  @apply bottom-[var(--sm-x)] sm:bottom-[var(--x)]  left-[var(--sm-x)] sm:left-[var(--x)];
}
.home .img .myimg ul li:nth-child(7) {
  @apply bottom-0 left-1/2 -translate-x-[50%];
}
.home .img .myimg ul li:nth-child(8) {
  @apply bottom-[var(--sm-x)] sm:bottom-[var(--x)]  right-[var(--sm-x)] sm:right-[var(--x)];
}

.about {
  @apply w-full h-full flex flex-col-reverse lg:flex-row-reverse justify-center items-center gap-11 p-10;
}
.about .two-div {
  @apply w-full h-full flex justify-center items-center;
}
.about .content {
  @apply flex flex-row justify-start items-center gap-5 w-[90%] h-[9rem];
}
.about .content p {
  @apply text-[1rem] sm:text-[1.5rem];
}
.about .img {
  @apply w-[63%] h-[50%] sm:h-[100%] object-cover;
}
.about .img .lala {
  @apply text-dark-green flex justify-center items-center relative;
}
.about .img .lala .screen {
  @apply top-[11%] w-[75%] h-[60%] absolute text-[1rem];
}

.projects {
  @apply w-full h-full flex flex-col justify-center items-center;
}
.projects .cards {
  @apply w-[90%] h-[25rem] flex justify-center;
}
.projects .cards .card {
  @apply w-[3rem] h-[25rem] rounded-md zbg-theme zfg-theme;
}
.projects .cards .card .img {
  @apply w-full h-[40%];
}
.projects .cards .card .img img {
  @apply w-full h-full object-cover;
  border-radius: 0.375rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.projects .cards .card .content {
  @apply w-full h-[60%] px-5 py-2;
}
.projects .cards .card .content div {
  @apply w-full;
}
.projects .cards .card .content .title {
  @apply h-[20%] text-[1.7rem];
}
.projects .cards .card .content .desc {
  @apply h-[50%] text-[1.2rem];
}
.projects .cards .card .content .button {
  @apply h-[30%] flex justify-end items-center px-5;
}
.projects .cards .card .content .button button {
  @apply w-20 h-10 rounded-md bg-light-green dark:bg-dark-green zfg-theme;
}
.projects .div-footer {
  @apply w-full h-[5rem] flex justify-center items-center;
}
.projects .div-footer .center {
  @apply flex;
}

.contact {
  @apply w-full h-full flex flex-col-reverse sm:flex-row justify-center items-center gap-10;
}
.contact .links {
  @apply flex flex-row sm:flex-col gap-3;
}
.contact .links a {
  @apply w-[3rem] h-[3rem] inline-block relative
            flex justify-center items-center;
}
@media (width >= 1024px) {
  .contact .links a:hover img {
    @apply -translate-x-16;
    transition: all 0.3s;
  }
  .contact .links a:hover span {
    @apply translate-x-0;
    opacity: 1;
    transition: all 0.5s;
  }
}
.contact .links a img {
  transition: all 0.3s;
  @apply w-full h-full absolute;
}
.contact .links a span {
  @apply -translate-x-5;
  opacity: 0;
  transition: all 0.3s;
}
.contact .form {
  @apply w-[90%] sm:w-[24rem] gap-5 flex flex-col justify-start items-start;
}
.contact .form .name {
  @apply w-full h-[2.4rem] border-b-2 border-solid flex flex-row justify-center items-center;
}
.contact .form .name input {
  @apply w-full h-full bg-[#00000000] outline-none pl-2;
}
.contact .form .message {
  @apply w-full h-[50%] border-b-2 border-solid flex flex-row justify-center items-start;
}
.contact .form .message textarea {
  @apply w-full h-full resize-none bg-[#00000000] outline-none pl-2;
}
.contact .form .send button {
  @apply flex text-light-blue dark:text-dark-blue justify-center items-center gap-2 h-6;
}
.contact .form .send button img {
  @apply h-full;
}/*# sourceMappingURL=globals.css.map */